$color-primary-line: #dadfea;

$color-primary-green: #00b2a9;
$color-primary-green-hover: #00ccc2;
$color-primary-green-active: #00b2a9;

$color-primary-bg: #a7b8cd;
$color-primary-blue: #003b5c;
$color-primary-hover: #424ba3;
$color-primary-blue-half: #b0c7cb;
$color-primary-blue-hover: #20244e;
$color-primary-placeholder: rgba(40, 45, 98, 0.5);

$color-white: #ffffff;

$color-gray-15: #d9d9d9;

$z-index-sidebar: 2;
$header-height: 6rem;
$space-xxxxxl: 4.8rem;
$space-xxs: 0.5rem;

$color-background: #e5e5e5;
$color-background-2: #eff2f6;